.picker {
    width: 100% !important;
    margin-top: 2rem;
}

.add-btn {
    width: 100% !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
    font-size: 2rem !important;
}

.colorNameInput {
    width: 100%;
    height: 70px;
    margin: 10px;
}